.bg-nav{
    background-color: #2C3E50;
}

.bg-green{
    background-color: #1ABC9C;
}

.content-img img{
    min-width: 0;
    max-width: 250px;
    padding: 1rem 0.5rem;
}

.star i{
    color: white;
    font-size: 2rem;
    padding-inline: 0.8rem;
}

.star .line{
    width: 100px;
    height: 4px;
    background-color: white;
}

.star .star-black{
    color: black;
}

.star .l-black{
    background-color: black;
}

.card-img img{
    width:100%;
}

.download-icon{
    padding-right: 0.5rem;
}

.bg-darkgrey{
    background-color: darkslategrey;
}